{
  'parserOptions': {
    'ecmaVersion': 6
  },
  'extends': [
    'eslint:recommended',
    'airbnb-base',
  ],
  'parser': 'babel-eslint',
  'rules': {
    'func-names': 0,
    'max-len': [2, 120, 2, {
      'ignoreUrls': true,
      'ignoreTemplateLiterals': true,
      'ignoreRegExpLiterals': true,
      'ignoreStrings': true,
      'ignoreComments': false,
    }],
    'no-unused-expressions': 0,
    'no-param-reassign': 0,
    'no-else-return': 0,
    'no-throw-literal': 0,
    'radix': 0,
    'no-console': 0,
    'no-underscore-dangle': 0,
    'no-tabs': 0,
    'no-useless-escape': 0,
    'no-loop-func': 0,
    'no-multi-assign': 0,
    'no-use-before-define': ['error', {'variables': false}],
    'prefer-destructuring': ['error', {'object': false, 'array': true}],
    'no-unused-vars': 0,
    'wrap-iife': [2, 'inside'],
    'indent': ['error', 2],
  },
  'globals': {
    '$': true,
    'app': true,
    'browser': true,
    'connectUsr': true,
    'connectPsw': true,
    'disableTabExtension': true,
    'expect': true,
    'fixtures': true,
    'getCurrentTabUrl': true,
    'hljs': true,
    'liveDocuments': true,
    'Nuxeo': true,
    'nuxeo': true,
    'studioExt': true,
  }
}