/*
  Five-color theme from a single blue hue.
*/

.json {
  font-size: 14px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #ffffff;
}

.hljs {
  color: #08107a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-comment {
  color: #738191;
}

.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #8400FF;
}

.hljs-literal {
  color: #0059ce;
}

.hljs-number {
  color: #895cb2;
}

.hljs-string {
  color: #4c91c9;
}

.hljs-link {
  color: #8400FF;
  font-weight: 600;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-bullet {
  color: #4c81c9;
}

.hljs-emphasis {
  font-style: italic;
}
