# inlined shared variables, no needs of encryption

[[ -z "$GITHUB_WORKSPACE" ]] &&
  source_up

[[ -z "$(command -v nix)" ]] &&
  return

set -a
TAG_VERSION=0.0.0
set +a

pushd .nix
use flake . --impure
popd
