node_modules
temp
.tmp
dist
.sass-cache
.npmrc
bower_components
package
app/scripts
app/vendor
npm-debug.log
target
test*/screenshots/*.png
ftest/src/test/resources/instance.clid
/.idea/
.classpath
.project
ftest/.settings/
selenium-standalone.txt
.local
.nix/.devenv
