name: CI Build

on: 
  pull_request:

  push:
    branches:
      - 'master'
      - 'develop' # gitflow mainly on hosted runner

  workflow_dispatch:
    inputs:
      ref:
        description: git tag reference to build
        required: true
        type: string
    
  workflow_call:
    inputs:
      ref:
          description: git tag reference to build
          required: true
          type: string

jobs:
  deploy:
    runs-on:
      - ${{ github.repository_owner != github.actor && 'ubuntu-latest' || 'self-hosted' }}
  
    steps:

      - name: Checkout Commit
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@next-8 --activate
      
      - name: Install dependencies
        run: pnpm install
      
      - name: Build
        run: pnpm build:chrome

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: chrome
          path: ./dist/chrome.zip
